<div style="display: flex; align-items: center; justify-content: center; ">
  <%= form_with url: questionnaire_responses_path(@questionnaire), method: :post, local: true, class: "questionnaire-form" do %>
  <h1 class="form-title">Questionnaire: <%= @questionnaire.title %></h1>
  <% @questions.each_with_index do |question, index| %>
    <div class="question-item">
      <h3 class="question-title">Q<%= index + 1 %>: <%= question.content %></h3>
      <div class="question-options">
        <% case question.question_type %>
        <% when "text" %>
          <%= text_area_tag "responses[#{index}][answer_text]", nil, class: "form-control", placeholder: "Enter your answer here..." %>
        <% when "boolean" %>
          <%= label_tag "responses[#{index}][answer_text]_true", "Yes", class: "radio-label" %>
          <%= radio_button_tag "responses[#{index}][answer_text]", "true", false, id: "responses[#{index}][answer_text]_true", class: "form-radio" %>
          <%= label_tag "responses[#{index}][answer_text]_false", "No", class: "radio-label" %>
          <%= radio_button_tag "responses[#{index}][answer_text]", "false", false, id: "responses[#{index}][answer_text]_false", class: "form-radio" %>
        <% when "multiple_choice" %>
          <% question.options.each do |option| %>
            <div class="form-check">
              <%= radio_button_tag "responses[#{index}][option_id]", option.id, false, class: "form-radio", id: "responses[#{index}][option_id]_#{option.id}" %>
              <%= label_tag "responses[#{index}][option_id]_#{option.id}", option.content, class: "radio-label" %>
            </div>
          <% end %>
        <% end %>
      </div>
      <%= hidden_field_tag "responses[#{index}][user_id]", current_user.id %>
      <%= hidden_field_tag "responses[#{index}][question_id]", question.id %>
    </div>
  <% end %>
  <div class="form-actions">
    <%= submit_tag "Submit Questionnaire", class: "btn btn-primary" %>
  </div>
<% end %>
</div>
